<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjj.study.mybatis.mapper.AuthorMapper">
  <resultMap id="BaseResultMap" type="com.yjj.study.mybatis.model.Author">
    <id column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
  </resultMap>
  <sql id="Base_Column_List">
    author_id, author_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from author
    where author_id = #{authorId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from author
    where author_id = #{authorId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yjj.study.mybatis.model.Author">
    insert into author (author_id, author_name)
    values (#{authorId,jdbcType=INTEGER}, #{authorName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yjj.study.mybatis.model.Author">
    insert into author
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authorId != null">
        author_id,
      </if>
      <if test="authorName != null">
        author_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authorId != null">
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="authorName != null">
        #{authorName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjj.study.mybatis.model.Author">
    update author
    <set>
      <if test="authorName != null">
        author_name = #{authorName,jdbcType=VARCHAR},
      </if>
    </set>
    where author_id = #{authorId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yjj.study.mybatis.model.Author">
    update author
    set author_name = #{authorName,jdbcType=VARCHAR}
    where author_id = #{authorId,jdbcType=INTEGER}
  </update>
</mapper>